.profile-card {
  display: flex;
  gap: 1.5rem;
  margin-block: 2rem;
  outline: 2px solid red;
}

.profile-image {
  flex: 3;
  min-height: 250px;
}

.profile-image img {
  width: 100%;
  height: 100%;
}

.profile-data {
  flex: 7;
}

.send-message-btn {
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}
