.header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-block: 1rem;
  background-color: var(--green);
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.primary-navigation {
  position: relative;
  display: none;
  list-style: none;
  background-color: transparent;
  align-items: center;
  gap: 3rem;
}

.nav-list {
  background-color: transparent;
  left: 0;
  position: absolute;
  flex-direction: row;
  gap: 3rem;
  display: flex;
}

.nav-list-item > a {
  text-decoration: none;
}

.logo {
  font-size: 2.5rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  color: var(--grey);
}

.nav-icon {
  font-size: 2rem;
}

.nav-text {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-decoration: none;
}

.nav-link-active {
  color: var(--black);
  font-weight: 600;
}

.profile-icon {
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  width: 2.8rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-btn {
  display: none;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  list-style: none;
  padding-block: 0.5rem;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: 1.2rem 1.2rem 0 0;
}

.profile-options {
  background-color: white;
  position: absolute;
  top: 3.5rem;
  right: 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.profile-link {
  cursor: pointer;
}

.profile-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.view-profile-btn {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;
  border-radius: 0.8rem;
  border: 1px solid var(--purple);
  background: transparent;
  cursor: pointer;
}

.view-profile-btn:hover {
  border-width: 2px;
}

.options {
  border-top: 0.5px solid var(--grey);
  font-size: 1.3rem;
  display: none;
}

.option {
  display: block;
  cursor: pointer;
  margin-top: 1rem;
}

.option a {
  text-decoration: none;
  color: var(--black);
}

@media (min-width: 700px) {
  .primary-navigation {
    display: flex;
  }

  .nav-icon {
    display: none;
  }

  .nav-link {
    color: var(--black);
  }

  .nav-link-active {
    border-bottom: 2px solid var(--purple);
    padding-bottom: 0.2rem;
    font-weight: 600;
  }

  .logo {
    font-size: 3.5rem;
  }

  .profile-icon {
    width: 3.5rem;
  }

  .mobile-nav {
    display: none;
  }

  .nav-text {
    font-size: 1.5rem;
  }

  .profile-options {
    top: 4.5rem;
  }

  .options {
    display: block;
  }
}
