.header {
  position: relative;
  padding-block: 2rem;
  background-color: var(--green);
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-item > a {
  text-decoration: none;
  color: var(--black);
}

.logo {
  margin: auto;
  font-size: 2.5rem;
}

.profile-icon {
  display: block;
  width: 4rem;
  border: 1px solid black;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  padding: 0;
}

.menu-btn {
  display: none;
}

.primary-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 99;
  background-color: var(--white);
  list-style: none;
  align-items: center;
  gap: 3rem;
}

.nav-link a {
  color: var(--white);
}

.cancel-btn {
  display: none;
}

@media (max-width: 600px) {
  .primary-navigation {
    position: fixed;
    inset: 0 40% 0 0;
    height: 55vh;
    border: 1px solid var(--purple);
    border-right: none;
    border-radius: 0 1rem 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transform: translateX(-100%);
    transition: transform 300ms ease-out;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .cancel-btn {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .menu-btn {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
}

@media (min-width: 700px) {
  .primary-navigation {
    background-color: transparent;
  }
  .nav-list {
    background-color: transparent;
    left: 0;
    position: absolute;
    flex-direction: row;
    gap: 3rem;
    display: flex;
  }
  .nav-menu {
    display: none;
  }
  .logo {
    font-size: 3.5rem;
  }
}
